<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>金师傅</title>
    <link rel="stylesheet" href="styles/common.css"/>
    <link rel="stylesheet" href="styles/page.css"/>
    <script src="scripts/vue.min.js"></script>
    <script src="scripts/utils.js"></script>
    <script src="api.js"></script>
    <style>
        .settings-section {
            background: white;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            margin-bottom: 25px;
        }

        .setting-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid #eee;
        }

        .setting-item:last-child {
            border-bottom: none;
        }

        .setting-label {
            font-weight: 500;
            color: #2c3e50;
            width: 150px;
        }

        footer {
            margin-top: 40px;
            text-align: center;
            padding: 20px;
            color: #7f8c8d;
            font-size: 0.9rem;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #2c3e50;
            font-weight: 500;
        }


        @media (max-width: 768px) {
            .setting-item {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }

        }
    </style>
</head>
<body>
<div id="app" v-scope @vue:mounted="init" class="container">
    <header>
        <nav>
            <div class="logo">金师傅</div>
        </nav>
    </header>

    <div class="settings-section">
        <div class="flex-space-between">
            <h2>网络</h2>
            <span v-if="connectedSSID" style="color: green">
                已连接至 {{ connectedSSID }}
            </span>
            <span v-else style="color: red">未连接到网络</span>
        </div>

        <div class="setting-item">
            <label for="ssid" class="setting-label">WiFi名称</label>
            <div class="flex fill-width">
                <select id="ssid" v-model="ssid" class="mr10 fill-width" required>
                    <option value="">请选择网络</option>
                    <option v-for="network in networks" :value="network['ssid']">{{ network['ssid'] }}</option>
                </select>
                <button @click="loadNetworks" :disabled="loading" style="width: 180px">
                    {{loading ? '加载中...' : '刷新列表'}}
                </button>
            </div>
        </div>

        <div class="setting-item">
            <label for="password" class="setting-label">密码</label>
            <div class="flex fill-width">
                <input id="password" type="password" v-model="password" placeholder="输入密码"
                       class="mr10 fill-width">
                <button @click="connectToWifi" :disabled="connecting" style="width: 180px">
                    {{ connecting ? '连接中...' : '连接 WiFi' }}
                </button>
            </div>
        </div>
    </div>

    <div id="settings-section" class="settings-section">
        <h2>对话</h2>
        <div class="setting-item">
            <label for="role" class="setting-label">扮演角色</label>
            <div class="flex fill-width">
                <input id="role" v-model="settings.role_prompt"
                       placeholder="填写角色提示词，如：你是一个幽默风趣的聊天助手。最多支持256个字符。"
                       class="fill-width">
            </div>
        </div>

        <div class="setting-item">
            <div class="setting-label">选择音色</div>
            <div class="flex fill-width">
                <select v-model="settings.voice" class="fill-width">
                    <option value="longanyang">男声</option>
                    <option value="longwan_v3">女声</option>
                    <option value="longjielidou_v3">小男孩</option>
                    <option value="longling_v3">小女孩</option>
                </select>
            </div>
        </div>

        <div class="setting-item">
            <label for="speech-speed" class="setting-label">语速调节</label>
            <div class="flex-v fill-width">
                <input id="speech-speed" type="range" v-model="settings.speech_speed" min="0.5" max="2" step="0.1"
                       class="fill-width">
                <span class="ml20">{{ Number(settings.speech_speed).toFixed(1) }}</span>
            </div>
        </div>

        <div class="setting-item">
            <label for="volume" class="setting-label">音调调节</label>
            <div class="flex-v fill-width">
                <input id="volume" v-model="settings.volume" type="range" min="0" max="100" step="1"
                       class="fill-width">
                <span class="ml20">{{ settings.volume }}</span>
            </div>
        </div>
    </div>


    <div class="settings-section">
        <h2>系统</h2>

        <div class="setting-item">
            <div class="setting-label">当前版本</div>
            <div class="flex">
                v0.1.0
            </div>
        </div>
        <div class="setting-item">
            <div class="setting-label">检查更新</div>
            <div class="flex">
                <a href="javascript:void(0)" @click="checkUpdate">检查更新</a>
            </div>
        </div>
    </div>

    <div>
        <button @click="saveSettings" class="mr10">保存设置</button>
    </div>

    <footer>
        <p>&copy; 2026 金师傅</p>
    </footer>
</div>

<script>
    PetiteVue.createApp({
        settings: {
            // 语言模型
            text_model: '',
            // 角色提示词
            role_prompt: '',
            // 语音模型
            tts_model: '',
            // 音色
            voice: '',
            // 语速
            speech_speed: 128,
            // 音量
            volume: 50,
        },

        // 滑块显示值
        tempValue: '0.5',
        speedValue: '1.0x',
        pitchValue: '1.0x',

        // WiFi 相关数据
        ssid: '',
        password: '',
        networks: [],
        connecting: false,
        loading: true,
        connectedSSID: false,

        init() {
            this.loadSettings()
            this.loadNetworks()
            this.wifiIsConnected()

            setInterval(() => {
                this.wifiIsConnected()
            }, 1000)
        },
        async loadSettings() {
            this.settings = await get_settings()
            this.settings.speech_speed = (this.settings.speech_speed * 2 / 255)
        },
        async saveSettings() {
            if (this.settings.role_prompt.length > 256) {
                msg.error('角色提示词过长，最多支持256个字符，请重新填写。')
            }
            await upsert_settings({
                ...this.settings,
                speech_speed: Number((this.settings.speech_speed / 2 * 255).toFixed(0)),
                volume: Number(this.settings.volume),
            }).then(() => {
                msg.success('配置已更新')
            })
        },
        async loadNetworks() {
            this.loading = true;
            try {
                this.networks = await getWifiList();
            } finally {
                this.loading = false;
            }
        },

        selectNetwork(network) {
            this.ssid = network['ssid'];
            this.password = '';
        },
        async connectToWifi() {
            this.connecting = true;
            try {
                await connectWifi(this.ssid, this.password)
            } finally {
                this.connecting = false;
            }
        },
        async wifiIsConnected() {
            this.connectedSSID = await wifiIsConnected()
        },

    }).mount('#app');
</script>
</body>
</html>